{ 
    "parser": "babel-eslint", 
    "plugins": [ 
      "react", 
      "react-native" 
    ], 
    "parserOptions": {
      "sourceType": "module",
      "ecmaFeatures": { 
          "jsx": true, 
          "modules": true 
      } 
    },
    "env": {
      "browser": true
    },
    "globals": {
      "fetch": true
    },
    "extends" : [ 
      "eslint:recommended", 
      "plugin:react/recommended", 
      "airbnb" 
    ], 
    "rules" : {
        "import/no-named-as-default": "off",
        "react-native/no-unused-styles": 2,
        "react-native/split-platform-components": 2,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "padded-blocks": ["error", { "classes": "always" ,"blocks": "never", "switches": "always" }],
        "object-curly-newline": ["error", { "multiline": true }]
    } 
  }